<!-- sections/page-locations.liquid -->
<div class="grid-featured bana">

  <div id="Locash_links" class="featured-select-list">

    <h3>United States of America</h3>
    <ul class="side-post-list">
      {% for value in page.metafields.location_anchor.store_title_usa %}
        <li><a href="#{{ value | camelcase }}">{{ value | replace: '-', '&#8212;' }}</a></li>
      {% endfor %}
    </ul>

    <h3>JAPAN</h3>
    <ul class="side-post-list">
      {% for value in page.metafields.location_link.store_title_japan %}
        <li><a href="#{{ value | camelcase }}">{{ value | replace: '-', '&#8212;' }}</a></li>
      {% endfor %}
    </ul>

    <h3>CHINA</h3>
    <ul class="side-post-list">
      {% for value in page.metafields.location_link_china.store_title_china %}
        <li><a href="#{{ value | camelcase }}">{{ value | replace: '-', '&#8212;' }}</a></li>
      {% endfor %}
    </ul>

    <div id="Blogs_select">
      <span class="blog_init">
        <span class="select_title">All Locations</span>
        <img src="{{ 'filter-down.svg' | file_url }}"/>
      </span>
      <div class="toggle_view closed">
        <span class="select" data-category="All Locations">All Locations</span>
        <span class="select" data-category="USA">United States {{ page.metafields.location_anchor.store_title_usa | size | prepend: '(' | append: ')' }}</span>
        <span class="select" data-category="Japan">Japan {{ page.metafields.location_link.store_title_japan | size | prepend: '(' | append: ')' }}</span>
        <span class="select" data-category="China">China {{ page.metafields.location_link_china.store_title_china | size | prepend: '(' | append: ')' }}</span>
      </div>
    </div>    

  </div>

<!--  <div id="articles_grid" class="grids"> -->

<div class="grid__items articles-container">
  
  {% for value in page.metafields.location.store_title %}
    <article id="{{ page.metafields.location.store_title[forloop.index0] | camelcase }}"
             class="articles gridzor half-zor"
             data-category="{{ page.metafields.location.store_country[forloop.index0] }}">

      {% if page.metafields.location.store_image[forloop.index0].size > 0 %}
        {% for map in page.metafields.location.store_map_link[forloop.index0] %}
          <div class="grid__items">
          {% if map.size > 0 %}
            <a target="_blank" href="{{ map }}">
          {% endif %}
        {% endfor %}

          <div class="article__featured-image-link">
            <div class="article__featured-image-wrapper">
              <img class="article__featured-image lazyload"
                src="{{ page.metafields.location.store_image[forloop.index0] }}"
                data-src="{{ page.metafields.location.store_image[forloop.index0] }}"
                data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ page.metafields.location.store_image[forloop.index0].aspect_ratio }}"
                data-sizes="auto"
                alt="{{ page.metafields.location.store_title[forloop.index0] }}">
            </div>
          </div>

        {% for map in page.metafields.location.store_map_link[forloop.index0] %}
          {% if map.size > 0 %}
            </a>
          {% endif %}
          </div>
        {% endfor %}
      {% endif %}
     
   
      <div class="grid__items article_info location_info">
        <h2 class="h3">
          <span class="article__heading-text">{{ page.metafields.location.store_title[forloop.index0] | replace: '-', '&#8212;' }}</span>
        </h2>
        <div class="article-description">
          {{ page.metafields.location.store_details[forloop.index0] }}
          {% comment %}
          {% for map in page.metafields.location.store_map_link[forloop.index0] %}
          {% if map.size > 0 %}
          <a target="_blank" href="{{ map }}">view map</a>
          {% endif %}
          {% endfor %}
          {% endcomment %}
        </div>
      </div>

    </article>
  {% endfor %}

</div>


<script type="text/javascript">
  $(document).ready(function() {
    var $toggleView = $('.toggle_view')
    var $selectTitle = $('.select_title');
    var $articles = $('article.articles'); 
  
    $('.blog_init').click(function(){
      $toggleView.toggleClass('closed')  
    });
  
    $('.select').click(function(e) {
      var category = $(this).data('category');
      
      $selectTitle.html($(this).text());
      
      if (category == 'All Locations') {
        $articles.fadeIn('slow');
        $selectTitle.removeClass('selected');
      } else {
        $articles.hide();
        $('[data-category="'+ category +'"]').fadeIn('slow');
        $selectTitle.addClass('selected');
      }
    });
  });
</script>


{% schema %}
{
  "name": "Locations Feed",
  "settings": [ ]
}
{% endschema %}