                  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                              {% comment %}
                                Optionally show the 'compare at' or original price of the product.
                              {% endcomment %}
                    {% include 'product-price', variant: current_variant %}
                    
                    <div class="variant-sku">SKU</div>

                    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                    <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

                    {% capture "form_classes" %}
                      product-single__form{% if product.has_only_default_variant %} product-single__form--no-variants{% endif %}
                    {%- endcapture %}

                    {% capture "form_id" %}AddToCartForm--{{ section.id }}{%- endcapture %}

                    {% form 'product', product, class:form_classes, id:form_id, data-product-form: '' %}

                      {% unless product.has_only_default_variant %}

                        {% for option in product.options_with_values %}

                          <div class="radio-wrapper js product-form__item">
                            <label class="single-option-radio__label{% if option.name == 'Default' or option.name == 'Title' %} hidden-label{% endif %}"
                              for="ProductSelect-option-{{ forloop.index0 }}">
                              {{ option.name | escape }}
                            </label>

                            {% if section.settings.product_selector == 'radio' %}

                                <fieldset class="single-option-radio"
                                  name="{{ option.name | handleize }}"
                                  id="ProductSelect-option-{{ forloop.index0 }}">
                                  {% assign option_index = forloop.index %}
                                  {% for value in option.values %}
                                    {% assign variant_label_state = true %}
                                    {% if product.options.size == 1 %}
                                      {% unless product.variants[forloop.index0].available  %}
                                        {% assign variant_label_state = false %}
                                      {% endunless %}
                                    {% endif %}
                                    <input type="radio"
                                      {% if option.selected_value == value %} checked="checked"{% endif %}
                                      {% unless variant_label_state %} disabled="disabled"{% endunless %}
                                      value="{{ value | escape }}"
                                      data-index="option{{ option_index }}"
                                      name="{{ option.name | handleize }}"
                                      class="single-option-selector__radio{% unless variant_label_state %} disabled{% endunless %}"
                                      id="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}">
                                    <label for="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}"{% unless variant_label_state %} class="disabled"{% endunless %}>{{ value | escape }}</label>
                                  {% endfor %}
                                </fieldset>

                            {% else %}

                                <select class="single-option-selector__radio single-option-selector-{{ section.id }} product-form__input
                                {% if option.name == 'Color' or option.name == 'Color' %}
                                  {% for value in option.values limit:1  %}
                                    color-select
                                  {% endfor %}
                                {% else %}
                                  {% for value in option.values limit:1  %}
                                    size-select
                                  {% endfor %}
                                {%endif %}"
                                {% if option.name == 'Color' or option.name == 'Color' %}
                                  {% for value in option.values %}
                                    {% if value == "-" %} style="display:none;" {% endif %}
                                  {% endfor %}
                                {%endif %}
                                id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">

                                {% if option.name == 'Color' or option.name == 'Color' %}
                                  {% for value in option.values %}
                                    <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value | escape }}</option>
                                  {% endfor %}
                                {% else %}
                                    <option value="default" disabled="disabled" selected="selected"> Select {{ option.name }} </option>
                                  {% for value in option.values %}
                                    <option value="{{ value | escape }}">{{ value | escape }}</option>
                                  {% endfor %}
                                {% endif %}

                                </select>

                            {% endif %}

                          </div>

                          {% if option.name == 'Color' or option.name == 'Color' %}
                              {% for value in option.values limit:1 %}
                                  {% unless value == "-" %}
                              <style>
                               .product-single__photo--flex-wrapper { display:none; }
                              </style>
                                    <script type="text/javascript">
                                    $(document).ready(function() {
                                      /* Page Load Color Variant Image Filter */
                                      if ( $(window).width() >= 991 ) {

                                          var selectedColor = $('select.color-select').val();
                                          var selectedFilter = selectedColor.replace(' ', '');
                                          var onLoadSelect = selectedFilter.toLowerCase()
                                          $('.product-single__photo--flex-wrapper').hide();
                                          $('[data-variant='+onLoadSelect+']').fadeIn('slow');

                                          console.log('page load - filter colors images / above 991 - PDP');
                                      }
                                      $('select.color-select').on('change',function(event){
                                        if ( $(window).width() >= 991 ) {

                                          var selectedColor = $(this).val().toLowerCase();
                                          var selectedFilter = selectedColor.replace(' ', '');
                                          $('.product-single__photo--flex-wrapper').hide();
                                          $('[data-variant='+selectedFilter+']').fadeIn('slow');

                                          console.log('change colors image - above 991 - PDP');

                                          var onLoadSelect = selectedFilter.toLowerCase();
                                          var yanana = $('[data-variant='+onLoadSelect+'] img')

                                          $('.product-single__photos').magnificPopup({
                                              delegate: yanana,
                                              type: 'image',
                                              midClick: true,
                                              mainClass: 'mfp-fade',
                                              closeOnBgClick: true,
                                              closeBtnInside: false,
                                              closeMarkup: '<button title="Close (Esc)" type="button" class="mfp-close"> <img src="https://cdn.shopify.com/s/files/1/2206/5449/files/close-modal.svg?5305"/> </button>',
                                              closeOnContentClick: true,
                                              tClose: theme.strings.zoomClose,
                                              removalDelay: 500,
                                              disableOn: function() {
                                                if( $(window).width() < 992 ) {
                                                  return false;
                                                }
                                                return true;
                                              },
                                              callbacks: {
                                                beforeOpen: function() {
                                                  console.log(yanana.attr('data-id') + ' - PDP');
                                                }
                                              },
                                              gallery: {
                                                enabled: true,
                                                navigateByImgClick: false,
                                                arrowMarkup:
                                                  '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"><span class="mfp-chevron mfp-chevron-%dir%"></span></button>',
                                                tPrev: theme.strings.zoomPrev,
                                                tNext: theme.strings.zoomNext
                                              }
                                          });
                                          
                                        } else {
                                          return;
                                        }
                                      });
                                    });
                                    </script>
                                  {% endunless %}
                              {% endfor %}
                          {% endif %}

                        {% endfor %}
                        
                      {% endunless %}

                      <select name="id" id="ProductSelect" class="product-single__variants no-js">
                        {% for variant in product.variants %}
                          {% if variant.available %}
                            <option {% if variant == product.selected_or_first_available_variant %}
                              selected="selected" {% endif %}
                              data-sku="{{ variant.sku }}"
                              value="{{ variant.id }}">
                              {{ variant.title }} - {{ variant.price | money_with_currency }}
                            </option>
                          {% else %}
                            <option disabled="disabled">
                              {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                            </option>
                          {% endif %}
                        {% endfor %}
                      </select>

                      {% if section.settings.quantity_enabled %}
                      <div class="product-single__quantity">
                        <label for="Quantity" class="product-single__quantity-label js-quantity-selector">{{ 'products.product.quantity' | t }}</label>
                        <input type="number" hidden="hidden" id="Quantity" name="quantity" value="1" min="1" class="js-quantity-selector">
                      </div>
                      {% endif %}

                      <div class="product-single__add-to-cart{% if section.settings.add_to_cart_button_size == 'large' %} product-single__add-to-cart--full-width{% endif %}">
                        <button type="submit" name="add" id="AddToCart--{{ section.id }}" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"{% unless current_variant.available %} disabled="disabled"{% endunless %}>
                          <span class="btn__text">
                            {% if current_variant.available %}
                              {{ 'products.product.add_to_cart' | t }}
                            {% else %}
                              {{ 'products.product.sold_out' | t }}
                            {% endif %}
                          </span>
                        </button>
                        {% if section.settings.enable_payment_button %}
                          {{ form | payment_button }}
                        {% endif %}
                      </div>
                    {% endform %}

                  </div>