<!-- /templates/blog.liquid -->

{% assign months = "January,january,February,february,March,march,April,april,May,may,June,june,July,july,August,august,September,september,October,october,November,november,December,december" | split: ',' %}

{% paginate blog.articles by 100 %}

<div class="grid-featured bana">

  <div class="featured-select-list">

    <h3>{{ blog.metafields.featured.sidebar_title }}</h3>
    <ul class="side-post-list">
      {% assign selected_handles = blog.metafields.featured.posts %}
      {% for selected_handle in selected_handles %}
      <li><a href="{{ articles[selected_handle].url }}">{{ articles[selected_handle].title | replace: '-', '&#8212;' }}</a></li>
      {% endfor %}
    </ul>

    <h3>{{ blog.metafields.featured.sidebar_title_2 }}</h3>
    <ul class="side-post-list">
      {% assign selected_handles = blog.metafields.featured.posts_2 %}
      {% for selected_handle in selected_handles %}
      <li><a href="{{ articles[selected_handle].url }}">{{ articles[selected_handle].title | replace: '-', '&#8212;' }}</a></li>
      {% endfor %}
    </ul>

    <h3>{{ blog.metafields.featured.sidebar_title_3 }}</h3>
    <ul class="side-post-list">
      {% assign selected_handles = blog.metafields.featured.posts_3 %}
      {% for selected_handle in selected_handles %}
      <li><a href="{{ articles[selected_handle].url }}">{{ articles[selected_handle].title | replace: '-', '&#8212;' }}</a></li>
      {% endfor %}
    </ul>
    
    <div id="Blogs_select">
      <span class="blog_init">
        <span class="select_title">All Posts</span>
        <img src="{{ 'filter-down.svg' | file_url }}"/>
      </span>
      <div class="toggle_view closed">
        <span class="select" data-title="All Posts" data-category="all">All Posts</span>
        {% assign title_1 = blog.metafields.featured.sidebar_title %}
        {% assign title_2 = blog.metafields.featured.sidebar_title_2 %}
        {% assign title_3 = blog.metafields.featured.sidebar_title_3 %}

        {% if title_1 != blank %}
         <span class="select" data-category="{{ title_1 }}">{{ title_1 }}</span>
        {% endif %}

        {% if title_2 != blank %}
         <span class="select" data-category="{{ title_2 }}">{{ title_2 }}</span>
        {% endif %}

        {% if title_3 != blank %}
         <span class="select" data-category="{{ title_3 }}">{{ title_3 }}</span>
        {% endif %}
      </div>
    </div>
    

  </div>

  <div class="grid__items articles-container">

    {% comment %}
    <header class="section-header text-center">
      <h1>
        {% if current_tags %}
          {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
        {% else %}
          {{ blog.title }}
        {% endif %}
        <a href="{{ shop.url }}{{ blog.url }}.atom" class="icon-fallback-text rss-link">
          <span class="icon icon-rss" aria-hidden="true"></span>
          <span class="fallback-text">RSS</span>
        </a>
      </h1>
      <hr class="hr--small">
    </header>
    {% endcomment %}

    

    {% assign count = 0 %}
    {% for article in blog.articles %}
      {% assign article_content = article.excerpt_or_content %}
      {% assign count = count | plus: 1 %}

      <article class="articles gridzor{% unless count == 1 %} half-zor{% endunless %}"
        {% for tag in article.tags %}
          {% if months contains tag %}
            data-category="{{ tag }}"
          {% endif %}
        {% endfor %}
        >
 
        {% unless article.image == blank %}
          <div class="grid__items">
            <a class="article__featured-image-link" href="{{ article.url }}">
              <noscript>
                {{ article.image | img_url: '2048x2048' | img_tag: article.title | escape }}
              </noscript>
              <div class="article__featured-image-wrapper">
                {% assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                <img class="article__featured-image lazyload"
                  src="{{ article.image | img_url: '300x300' }}"
                  data-src="{{ img_url }}"
                  data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ article.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ article.title | escape }}">
              </div>
            </a>
          </div>
        {% endunless %}

        {% comment %}
        <div class="grid__item large--two-tenths push--large--one-tenth">
          <time datetime="{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}" class="date">{{ article.published_at | date: format: 'date' }}</time>
          <hr class="hr--small hr--left small--hide">
        </div>
        {% endcomment %}
        <div class="grid__items article_info">
          <h2 class="h3">
            <a class="article__heading-text" href="{{ article.url }}">
              {{ article.title | replace: '-', '&#8212;' }}
            </a>
          </h2>
          {% comment %}
          <div class="rte rte--indented-images">
            {{ article_content | strip_html | truncatewords: 120 }}
          </div>
          <p>
            <a href="{{ article.url }}" class="text-link">{{ 'blogs.article.read_more' | t }} <span class="icon icon-arrow-right" aria-hidden="true"></span></a>
          </p>
          {% endcomment %}
        </div>
      </article>

      {% comment %}
      {% unless forloop.last %}<hr class="hr--clear">{% endunless %}
      {% endcomment %}

    {% endfor %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}

  </div>
</div>

{% endpaginate %}


<script type="text/javascript">
$(document).ready(function() {
  var $toggleView = $('.toggle_view');
  var $selectTitle = $('.select_title');
  var $articles = $('article.articles');
  
  $('.blog_init').click(function(){
    $toggleView.toggleClass('closed')  
  });

  $('.select').click(function(e) {
    var category = $(this).data('category');
    
    $selectTitle.html($(this).text());
    
    if (category == 'all') {
      $articles.fadeIn('slow');
      $selectTitle.removeClass('selected');
    } else {
      $articles.hide();
      $('[data-category="'+ category +'"]').fadeIn('slow');
      $selectTitle.addClass('selected');
    }
  });
});
</script>

